@model int

<a asp-controller="Cart" asp-action="Index" class="btn btn-outline-dark position-relative">
    🛒 Giỏ hàng

    @if (Model > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model
        </span>
    }
</a>